* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body{
	background: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #84e2ff;
  margin-bottom: 16px;
}
a {
  text-decoration: none;
  text-decoration: underline;
  color: #84e2ff;
}
img {
  width: 500px;
}
canvas {
    
	display: block;
    width: 100vw;
    height: 100vh;
}
@font-face {
  font-family: title;
  src: url(../fonts/NanumMyeongjo-Regular.ttf);
}
@font-face {
  font-family: gen;
  src: url(../fonts/NanumMyeongjo-Bold.ttf);
}
body{

}
.big {
  position: absolute;
  top: 0;
  width:100vw;
  
  
  /*width: 600px%;*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
	

#background{
	position: fixed;
	height: 100vh;
	width: 100vw;

}
.fc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper {
  width: 800px;
}
.navbar {
  
  display: flex;
  align-items: strech;
  justify-content: center;
  font-family: gen;
  color: #84e2ff;
  font-size: 16px;
  
}
.nav{
	display: flex;
	align-items: center;
	padding: 50px;
	
	

}
.nav:hover{
	background-color:#111;
}
a.nav:hover{
	background-color:darkgrey;
	

}
.textbox {
  /*margin-top: 5%;
  margin-bottom: 5%;*/
  width: 500px;
  font-family: gen;
  color: #84e2ff;
  font-size: 110%;
  display: grid;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
	
  margin-right: 5%;
  margin-left: 5%; /* Centers content horizontally and vertically */

}
p.textbox {
 background-color: #000;

}
.screenholder {
	
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}
.projectsholder {
	height: 300vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;

}

.textbox p {
  text-align: justify;
  
}
.title {
  font-family: title;
  color: #84e2ff;
  font-size: 43px;
}

.flex-container {
	/*margin-top: 5%;
	margin-bottom: 5%;*/
  display: flex;
  justify-content: center;
  align-items: strech;
  margin-left: 5%; 
}

#bigger {
	width: 700px;
}
#opening {
	/*width: 300px*/
}