* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: #84e2ff;
  margin-bottom: 16px;
}
a {
  text-decoration: none;
  text-decoration: underline;
  color: #84e2ff;
}
img {
  width: 500px;
}
@font-face {
  font-family: title;
  src: url(../fonts/NanumMyeongjo-Regular.ttf);
}
@font-face {
  font-family: gen;
  src: url(../fonts/NanumMyeongjo-Bold.ttf);
}
body{
background-color: black;
}
.big {
  background-color: black;
  /*width: 100%;*/
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.fc {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.wrapper {
  width: 600px;
}
.navbar {
  
  display: flex;
  align-items: strech;
  justify-content: center;
  font-family: gen;
  color: #84e2ff;
  font-size: 16px;
  
}
.nav{
	display: flex;
	align-items: center;
	padding: 50px;
	highlight-color
	

}
.nav:hover{
	background-color:darkgrey;
}
a.nav:hover{
	background-color:darkgrey;
	

}
.textbox {
  /*margin-top: 5%;
  margin-bottom: 5%;*/
  width: 500px;
  font-family: gen;
  color: #84e2ff;
  font-size: 110%;
  display: grid;
  
	
  margin-right: 5%;
  margin-left: 5%; /* Centers content horizontally and vertically */

}
.screenholder {
	background-color: blue;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
}

.textbox p {
  #text-align: justify;
  
}
.title {
  font-family: title;
  color: #84e2ff;
  font-size: 43px;
}

.flex-container {
	/*margin-top: 5%;
	margin-bottom: 5%;*/
  display: flex;
  justify-content: center;
  align-items: strech;
  margin-left: 5%; 
}

#bigger {
	width: 700px;
}
#opening {
	/*width: 300px*/
}